.container {
  @apply fixed top-10 right-0 w-full h-full z-50 flex opacity-0 invisible ease-in-out duration-300;
}

.container--open {
  @apply opacity-100 visible;
}

.backdrop {
  @apply absolute z-10 top-0 right-0 w-full h-full opacity-0 invisible ease-in-out duration-300;
  background-color: rgba(57, 64, 82, 0.6);
}

.backdrop--open {
  @apply opacity-100 visible;
}

.body {
  @apply z-50 bg-white h-full overflow-y-hidden overflow-x-hidden py-2 pb-14 flex flex-col opacity-0 invisible ease-in-out duration-700 -translate-x-full;
  width: 75%;
  max-width: 366px;
}

.body--open {
  @apply opacity-100 visible translate-x-0;
}

.burger-link {
  @apply text-main-2 text-md font-bold text-left;
}

.burger-link + .burger-link {
  @apply mt-3;
}

.collapse + .collapse {
  @apply mt-6;
}

.collapse-main {
  @apply text-main text-lg leading-[1.2em] font-bold block w-full text-left mx-[25px];
}

.collapse-main--active {
  @apply text-brand;
}

.collapse-sub {
  @apply text-main text-[2rem] leading-[1.2em] flex w-full mx-[55px];
}

.collapse-sub svg {
  @apply ml-auto;
}

.collapse-sub--active svg {
  @apply rotate-180;
}

.menu-link {
  @apply block mt-3 text-main-2 text-base;
}
